body {
  --bg-color: #ffffff;
  --mg-color: #e6e6e6;
  --fg-color: #ffffff;
  --fg-color-hover: #e0e0e0;
  --text-color: #000000;
}

body.darkmode {
  --bg-color: #292929;
  --mg-color: #383838;
  --fg-color: #474747;
  --fg-color-hover: #5c5c5c;
  --text-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #292929;
    --mg-color: #383838;
    --fg-color: #474747;
    --fg-color-hover: #5c5c5c;
    --text-color: #fafafa;
  }
  
  body.lightmode {
    --bg-color: #ffffff;
    --mg-color: #e6e6e6;
    --fg-color: #ffffff;
    --fg-color-hover: #e0e0e0;
    --text-color: #000000;
  }
  

}

html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
}


.header {
  margin: auto;
  margin-bottom: 1rem;
  max-width: 35rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 1px 2px -1px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 8px;
  position: relative;
}

.toggle {
  position: absolute;
  height: 100%;
  top: 0;
  right: 10px;
  display: table;
  text-decoration: none;
}

.toggle * {
  display: table-cell;
  vertical-align: middle;
  color: var(--text-color);
  font-size: 32px;
}

#icon-sun {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  padding-bottom: 0.5rem;
  line-height: 0rem;
}


#icon-moon {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  line-height: 0rem;
}

.title {
  display: inline;
}

.background {
  background-color: var(--bg-color);
  color: var(--text-color);

}

.middleground {
  background-color: var(--mg-color);
  color: var(--text-color);

}

.foreground {
  background-color: var(--fg-color);
  color: var(--text-color);
}