:root {
  --image-width: 3in;
  --image-height: 3in;
  
  --scale-factor: calc(1 / 3);
  --tool-size: 3in;
  --ruler-size: 0.25in;
  --ruler-thickness: 1px;
}

html {
  height: 100%;
  width: 100%;
}

#output {
  position: absolute;
  width: var(--tool-size);
  height: var(--tool-size);
  background-color: red;
  background-image: url("IMG_9480.JPG");
  background-repeat: repeat;
  background-size: var(--image-width) var(--image-height);
  top: var(--ruler-size);
  left: var(--ruler-size);
}

#rulers {
  position: relative;
  border: var(--ruler-thickness) solid black;
  width: calc(var(--tool-size) + var(--ruler-size));
  height: calc(var(--tool-size) + var(--ruler-size));
  margin-bottom: 12px;
}

#horizontal-ruler {
  position: absolute;
  width: var(--tool-size);
  height: var(--ruler-size);
  top: calc(var(--ruler-thickness) * -1);
  left: var(--ruler-size);
  background-size: calc(var(--tool-size) * var(--scale-factor)) var(--ruler-size);
  background-image:
    linear-gradient(to right, grey var(--ruler-thickness), transparent var(--ruler-thickness)),
    linear-gradient(to bottom, grey var(--ruler-thickness), transparent var(--ruler-thickness));
}

#vertical-ruler {
  position: absolute;
  min-width: var(--ruler-size);
  min-height: var(--tool-size);
  top:  var(--ruler-size);
  left: calc(var(--ruler-thickness) * -1);
  background-size: var(--ruler-size) calc(var(--tool-size) * var(--scale-factor));
  background-image:
    linear-gradient(to right, grey var(--ruler-thickness), transparent var(--ruler-thickness)),
    linear-gradient(to bottom, grey var(--ruler-thickness), transparent var(--ruler-thickness));
}

#width, #height {
  width: 2rem;
  height: 2rem;
  text-align: right;
}