.game {
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 4px;
  padding-top: 0px;
  max-width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header {
  margin: auto;
  margin-bottom: 1rem;
  max-width: 35rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 1px 2px -1px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 8px;
  position: relative;
}

.toggle {
  position: absolute;
  height: 100%;
  top: 0;
  right: 10px;
  display: table;

}

.toggle * {
  display: table-cell;
  vertical-align: middle;
  color: var(--text-color);
  font-size: 32px;
}

#icon-sun {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  padding-bottom: 0.5rem;
  line-height: 0rem;
}


#icon-moon {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  line-height: 0rem;
}

.title {
  display: inline;
}

.gameTitle {
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0;
}

p {
  margin: 0.5rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

.game:hover {
  background-color: var(--fg-color-hover);
}