:root {
  --disabled-color: #d2d2d2;
  --incorrect-color: #ff0000;
  --correct-color: #00a800;
}

@media (prefers-color-scheme: dark) {
  :root {
    --disabled-color: #474747;
    --incorrect-color: #ff6666;
    --correct-color: #7aff7a;
  }
}

.phrase {
  font-size: 40px;
  text-align: center;
  max-width: 40rem;
  margin: auto;
}

.input {
  display: none;
}

.guess,
.guessText {
  font-size: 20px;
}

.day {
  font-size: 12px;
  font-weight: narrow;
}

.usedLetter {
  color: var(--disabled-color);
}

.correctLetter {
  color: var(--correct-color);
}

.incorrectLetter {
  color: var(--incorrect-color);
}